@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;500;900&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap');

*{
    margin: 0;
    box-sizing: border-box;
    padding: 0;
    font-family: 'League Spartan', sans-serif;

}

#header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 80px;
	background-color: #e3e6f3;
	box-shadow: 0 5px 15px rgba(0, 0,0, 0.86);
	height: 80px;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 999;
}
.logo {
	width: 45%;
}

  
.sbag{
	position: relative;
	bottom: 18px;
	left: 11px;
  }
  
  .cart {
    position: relative;
  }
   .cart span {
    position: absolute;
	bottom: 5px;
	right: 3px;
    line-height: 20px;
    
    width: 20px;
    height: 20px;
    border-radius: 50%;
    text-align: center;
    
    font-size: 12px;
   
  }
  .icon-circle {
	position: relative;
	width: 17px;
	height: 17px;
	bottom: 2px;
	color: #1a1a1a;
  }

  .none {
    
    background-color: #e94560;
   
    color: #fff;
  }

//   .cart i {
//     width: 5%;
//     text-align: center;
//     font-size: 20px;
//     opacity: 0.5;
// 	position: relative;
// 	bottom: 5px;
//     padding: 15px 20px;
//     font-size: 17px;
//   }

  

#navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 50px;
	
	width: auto;

	z-index: 999;
	li {
		list-style: none;
		padding: 0 20px;
		position: relative;
		&:last-child {
			position: relative;
			padding: 200px 0px;
		}
		a {
			text-decoration: none;
		
			font-weight: 500;
			color: #1a1a1a;
			transition: 0.3s ease;
			&.active {
				&::after {
					content: "";
					width: 19px;
					height: 2px;
					background: #0ecdc0;
					position: absolute;
					left: 20px;
					bottom: -2px;
				}
			}
		}
		&:not(:nth-last-child(-n+ 2)) {
             
				
					a:hover {
						&:after {
							content: "";
							width: 19px;
							height: 2px;
							background: #0ecdc0;
							position: absolute;
							left: 20px;
							bottom: -2px;
						}
					}
				}
            }
        }

#navbar li a:hover,
#navbar li a.active {
	color: #0ecdc0;
}

// -------------------------------hero-------------------------------------------
#hero {
	background: url("../img/pn.png");
	height: 90vh;
	width: 100%;
	background-size: cover;
	background-position: top 20% right 0;
	padding: 0 80px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: center;
	h4 {
		padding-bottom: 15px;
	}
	h1 {
		color: #09aca2;
	}
	button {
		background-image: url('../img/button.png');
		background-color: transparent;
		color: #09aca2;
		border: 0;
		padding: 14px 80px 14px 65px;
		background-repeat: no-repeat;
		cursor: pointer;
		font-weight: 700;
		font-size: 15px;
		&:hover {
			letter-spacing: 0.25em;
		}
	}
}
h1 {
	font-size: 50px;
	line-height: 64px;
	color: #222;
}
h2 {
	font-size: 46px;
	line-height: 54px;
	color: #222;
}
h4 {
	font-size: 25px;
	color: rgb(85, 85, 85);
}
h6 {
	font-weight: 700;
	font-size: 12px;
}
p {
	color: #465b52;
	font-size: 16px;
	margin: 15px 0 20px 0;
}
.section-p1 {
	padding: 40px 80px;
}
#feature {
	display: flex;
	align-items: center;
	justify-content: space-between;
	
	.fe-box {
		width: 180px;
		text-align: center;
		padding: 25px 25px;
		box-shadow: 20px 20px 34px rgb(0, 0, 0, 0.03);
		border: 1px solid #cce7d0;
		border-radius: 4px;
		margin: 15px 20px;

		&:nth-child(2) h5 
		{
				background-color: #cdebbc;

		}

		&:nth-child(3) h5 
		{
			background-color: #d1e8f2;

		}

		&:nth-child(4) h5 
		{
		background-color: #cdd4f8;

			}
			&:nth-child(5) h5 
			{
			background-color: #f6dbf6;
	
				}
				&:nth-child(6) h5 
			{
			background-color: #fff2e5;
	
				}	

        h5{
		
            padding: 9px 8px 6px 8px;
            line-height: 1;
            border-radius: 6px;
            color: #09aca2;
            background-color: #fddde1 ;
			
        }

    
		&:hover {
			box-shadow: 18px 10px 54px rgb(70, 62, 221, 0.1);
		}
		h5 {
			display: inline-block;
			padding: 9px 8px 6px 8px;
			line-height: 1;
			border-radius: 6px;
			color: #09aca2;
			background-color: #fddde1;
		}

		img
        {
            width: 100%;
			margin-bottom: 10px;

        }
	}
}



#Footer{
	margin-top: 150px;
	height: 200px;
}

@media(max-width: 477px)  {
	
	.cartadd{
			
			flex-direction: column;
			
	}

	.coupon{
		width: 100%;
	}

	.subtotal{
		width: 100%;
		padding: 20px;
	}
}


@media  (mzx-width:799px)
{
	 #navbar{
		display:flex;
		flex-direction: column;
		align-items: flex-start;
		justify-content: flex-start;
		position: fixed;
		height: 10vh;
	}
	
	#blog{
		padding: 100px 20px 0 20px;
		
		.blog-box {
			display: flex;
			flex-direction: column;
			align-items: flex-start;
		}
		.blog-img{
			width: 100%;
			margin-right: 0px;
		}
		}
	}
	
	


.shadow{
	font-family: 'Rubik One', sans-serif;
  font-size: 50px;
  text-transform: uppercase;
  text-shadow: -4px -4px 0px #D2EAD7;
  background: repeating-linear-gradient(45deg, #09aca2, #09aca2 1px, white 2px, white 3px);
 
 
 
}


.blog-header{
	background-image: url('../img/banner/b19.jpg');
	width: 100%;
    height: 40vh;
	text-align-last: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 14px;
    justify-content: center;
	color: rgb(255, 255, 255);
}
.blog-header h2,
.blog-header p{
    color: white;
}

