
 @import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@200;500;900&family=Open+Sans:wght@300&family=Roboto:wght@100&display=swap");


  
.heart{
  position: absolute;
  top: 30px;
  left: 225px;
}

.heart:hover{
  color: red;
}

  #product1{
    text-align: center;
    

  }
  
  #product1 .pro-container{
    display: flex;
    justify-content: space-between;
    
    padding-top: 20px;
    flex-wrap: wrap;
   

  }

  #product1 .pro{
    border-radius: 25px;
   width: 23%;
    min-height: 250px;
    padding: 10px 12px;
    border: 1px solid #cce7d0;
  cursor: pointer;
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.02);
overflow: hidden;
position: relative;
margin: 15px 0;
    transition: 0.2s ease;

  }


  .pro{

    z-index: 99;
  }



  #product1 .pro img {
    width: 100%;
    border-radius: 20px ;
    
     }

    
  #product1 .pro .des{

    text-align: start;
    padding: 10px 0;

  }
#product1 .pro .des h5{
padding-top: 7px ;
color: #1a1a1a;
font-size: 12px;
}


  #product1 .pro .price{
    padding-top: 7px ;
    color: #028078;
    font-size: 15px;
  }

  .caaart{
    width: 30px;
    height: 30px;
    font-weight: 500;
   background: #e8f6ea;
    border-radius: 100px;
    color: #028078;
   border: 1px solid #cce7d0;
  position: absolute;
  line-height: 40px;
  bottom: 20px;
  right: 20px;
  cursor: pointer;
  }





  
  #product1 .pro:hover {
    
  box-shadow: 20px 20px 30px rgb(0, 0, 0, 0.06);
  
  }

