.about-header{
    background-image: url('../../../../img/about/banner.png');
    width: 100%;
    height: 40vh;
    text-align-last: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    padding: 14px;
    justify-content: center;
}

.about-header h2,
.about-header p{
    color: white;
}